body.light-mode {
    background-color: rgb(0, 111, 148);
    color: black;
  }
  
  body.dark-mode {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 111, 148);
  }
  
  button {
    margin: 20px;
    padding: 10px;
    font-size: 16px;
  }